body {
  font-family: Arial,Helvetica,sans-serif;
}

p, li {
  font-size: 87.5%;
}

/* A few of the following properties are workarounds, meant to be
 * removed when gap becomes available on Safari. */

#left-bar {
  margin: 1em;
  min-width: 14em;
  width: 20em;
  max-width: 24em;
  line-height: 110%;
  font-size: 87.5%;
  /*gap: 0.5em;*/
}

#main-wrap {
  margin: 1em;
  font-size: 87.5%;
  line-height: 110%;
  /*gap: 0.5em;*/
}

.div-side-flex, .row-flex, .bounded-input, .file-path-picker, .track-map {
  /*gap: 0.25em 0.5em;*/
  margin-bottom: 0.25em; /* gap workaround */
}

span {
  white-space: pre-wrap; /* gap workaround */
}

.bounded-input-caption {
  font-size: 87.5%;
}

#track-map {
  object-fit: none;
}

.blank-horizon {
  background-color: White;
}

.desert-horizon {
  background-color: Moccasin;
}

.tropical-horizon {
  background-color: MediumAquamarine;
}

.alpine-horizon {
  background-color: LightCyan;
}

.city-horizon {
  background-color: LightSteelBlue;
}

.country-horizon {
  background-color: LightGoldenrodYellow;
}

.unknown-horizon {
  background-color: Thistle;
}
